<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471012901027-9kfgge7lousmsv4v55dng1fav28no3t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471012901027-9kfgge7lousmsv4v55dng1fav28no3t8</string>
	<key>API_KEY</key>
	<string>AIzaSyDdNnOpIx_UpjdyflLiVWw4iJ7Ms80ZuXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>471012901027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novizco.qktrade</string>
	<key>PROJECT_ID</key>
	<string>flutter-apps-a0e14</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-apps-a0e14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471012901027:ios:7af4a66a6ecea388a93f16</string>
</dict>
</plist>